.title {
    font-weight: bold;
    font-size: 20px;
}

.text {
    font-weight: normal;
    font-size: 14px;
    color: gray;
}

.info {
    float: right;
}

.nameInfo {
    border-bottom: 1px solid #80808059;
}

//================gioi thieu========
//===========right=============
// .item-right{
//     width: 100%;
//     height: 24%;
//     border: 1px solid red;
// }
.stickyy {
    position: sticky;
    top: 55px;
    z-index: 1;
}

.sticky-menu {
    position: sticky;
    top: 0;
    z-index: 1021;
}
.divider{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after,
    &::before{
        content: "";
        width: 100%;
        height: 2px;
    }

    &::before{
        background-image: linear-gradient(90deg,#fff,hsla(0,0%,84%,.2),hsla(0,0%,84%,.4),hsla(0,0%,84%,.6),hsla(0,0%,84%,.8));
    }
    &::after{
        background-image: linear-gradient(270deg,#fff,hsla(0,0%,84%,.2),hsla(0,0%,84%,.4),hsla(0,0%,84%,.6),hsla(0,0%,84%,.8));    }
    span{
        padding: 0 10px;
    }
    }

.change-img {
    width: 50px;
    height: 50px;
    border-radius: 90px;
}

.top-item {
    background: #f4f4f4;
    margin: 0px !important;
    padding: 10px 40px;
}

.name-item {
    font-size: 20px;
    color: #cc3332;
    font-weight: bold;
}

.btn_tuvan {
    margin: 20px 0;
    background: #ef6b0c;
    color: white;
    width: 80%;
    border: 0;
    padding: 10px 15px
}

.btn_tuvan:hover {
    background: blue;
    font-weight: bold;
}

.btn_hover {
    margin: 5px 0;
    background: white;
    color: #788087;
    width: 80%;
    border: 1px solid #8b9298;
    padding: 10px 15px
}

.btn_hover:hover {
    background: #ef6b0c;
    color: white;
    font-weight: bold;
}

//   a{
//         text-decoration: none !important;
//     }
//======Empty==================
.empty {
    padding: 50px;
}

.empty-data {
    text-align: center;
    color: gray;
}

.btn-css {
    padding: 0 !important;
    border: 0 !important;
    &:focus {
        box-shadow: none !important;
    }
}

.icon-click {
    text-align: right;
    padding-top: 5px;
}

.note-info {
    font-size: 14px;
    font-weight: 500;
    color: #788087;
}

// .btn-css ::before{
//     font-family: "Font Awesome 5 Free";
//     content: "\f078";
//     // content: "\f106";
//     display: none;
//     visibility: collapse;
//    padding-right: 3px;
//    vertical-align: middle;
//    font-weight:900;
// }
// .btn-css::after{
//     font-family: "Font Awesome 5 Free";
//     content: "\f106";
//    padding-right: 3px;
//    vertical-align: middle;
//    font-weight:900;
// }
// [data-toggle="collapse"].collapsed .if-not-collapsed {
//     display: none !important;
//   }
//   [data-toggle="collapse"]:not(.collapsed) .if-collapsed {
//     display: none !important;
//   }